@import "ngx-toastr/toastr";

.mat-toolbar-color-purple {
  background-color: #d45a22;
  color: white;
}

.center-text {
  flex-grow: 1;
  text-align: center;
}

.icons {
  display: inline-block;
}

fa-icon {
  font-size: 25px;
}
